
.aboutContent{
    height: auto;
    width: 100%;
    overflow: hidden;
}
.aboutContent-data , .aboutContent-image{
    padding: 30px;
}
.aboutContent-data span{
    font-size: 5rem;
    color: var(--mainColor);
}

.aboutContent-data h1{
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 20px 0;
    color: var(--text2Color);
}
.aboutContent-data p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--textColor) !important;
}
.aboutImgBox{
    width: 600px;
    height: auto;
    margin: 0 auto;
}

.aboutImgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* text-align: center; */
    display: block;
    margin: 0 auto;
}

/* Responsive CSS Style   */
@media screen and (max-width: 768px) {

    .aboutContent-data h1 , .aboutContent-data p , .aboutContent-data span {
        text-align: center !important;
    }
    .aboutImgBox{
        width: 96%;
    }
}