.createImage{
    width: 100%;
    height: 40vh ;
    overflow: hidden;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.createImageUpload{
    width: 50%;
    height: 100%;
    overflow: hidden;
    /* background-color: aqua; */
}

.createImageUpload img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.btnUpload{
    width: 250px ;
    height: 45px ;
    border-radius: 30px;
}
.selectStyle{
    font-size: 1.3rem !important;
    /* direction: ltr !important; */
    font-weight: 600;
}