.offerParent{
    /* background-color: aqua !important; */
    padding: 15px;
    margin: 0 auto;
}
.offerItem{
    margin: 0 auto;
    width: 350px;
    height: 350px;
    /* background-color: rgba(0, 0, 0, 0.377); */
    border-radius: 50% ;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease-in-out;
}


.offerItem img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.offerItem .offerContent{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.281);
    position: absolute;
    top: 0;
    /* left: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;


}

.offerItem:hover .offerContent{
    opacity: 1;
    visibility: visible;
}
.offerContent h3{
    font-size: 2.3rem;
    align-self: flex-start;
    font-weight: 700;
    color: var(--fontColor);
}
.offerContent button{
    width: 200px;
    height: 45px;
    border-radius: 60px 30px;
    background-color: var(--HeaderColor);
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.2rem;
    transition: 0.5s ease;
    margin-top: -50px;
}
.offerContent button:hover{
    background-color: var(--bgColor);
    border-color: #fff;
}   


/* Start Offer Option Style */
.optionItem{
    overflow: hidden !important;
}
.optionItem .card{
    overflow: hidden !important;
    border: 2px solid var(--HeaderColor) !important;
    border-radius: 50px  !important;
}
.optionItem .optionImage{
    height: auto !important;
    width: 100% !important;
    object-fit: cover;
}
.optionItem .optionTitle{
    font-size: 2.5rem !important;
    color: var(--fontColor);
    font-weight: 700 !important;
}
.optionItem .optionDescription{
    font-size: 1.5rem !important;
    color: var(--HeaderColor);
    font-weight: 600;
}
.optionItem .optionFooter{
    padding: 10px;
    width: 100%;
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
}
.optionItem .btnFav , .optionItem .btnAdd{
    width: 200px;
    height: 60px !important;
    font-size: 1.5rem !important;
    font-weight: 600;
    padding: 8px !important;
    border-radius: 15px !important;
    background-color: var(--HeaderColor) !important;
    color: var(--mainColor);
    border: 1px solid var(--mainColor) !important;
    transition: 0.5s ease;
}
.optionItem .btnFav:hover , .optionItem .btnAdd:hover{
    background-color: transparent !important;
    color: var(--HeaderColor) !important;
    border-color: var(--HeaderColor) !important;
}
.discount{
    font-size: 1.8rem !important;
    color: green !important;
    font-weight: 800 !important;
}
/* End Offer Option Style */


@media screen and (max-width: 768px) {
    .optionItem .card{
        border-radius: 30px !important;
    }
    .btnAdd , .btnFav{
        width: 180px !important;
        font-size: 1.3rem !important;
    }
}