.servicesParent{
    width: 100%;
    /* overflow: hidden !important ; */
}

.serviceCard {
    /* width: 100% !important; */
    min-height: 75vh !important;
    overflow: hidden;
    border-radius: 50px !important;
    transition: 0.5s ease;
    border: 2px solid var(--mainColor) !important;    
}
.serviceCard:hover .serviceImg{
    transform: scale(0.9);
}
.serviceImg {
    height: 50vh !important;
    width: 100%;
    object-fit: fill;
    transition: 0.5s ease;
    overflow: hidden;

}
.serviceTitle{
    font-size: 1.9rem !important;
    text-transform: capitalize;
    color: var(--HeaderColor) !important;
    font-weight: 700 !important;
    letter-spacing: 0.5px;
}
.serviceSubTitle{
    /* letter-spacing: 1px !important; */
    color: var(--fontColor) !important;
    font-size: 1.4rem !important;
}