.productsParent{
    width: 100%;
    height: fit-content;
}
.productCard{
    width: 100%;
    height: auto !important;
}
.StyleProductCard{
    border-radius: 20px !important;
    overflow: hidden;
}
.img-wrapper {
    position: relative;
    height: 35vh !important;
}

.img-wrapper img {
    width: 100% !important;
    height: 100% !important;
    object-fit: fill !important;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease;  
}

.productCard:hover .img-overlay {
    opacity: 1;
}

.productTitle{
    font-size: 2.2rem !important;
    letter-spacing: 1px;
    color: var(--text2Color) !important;
    font-weight: 600 !important;
}
.product-desc{
    font-size: 1.2rem !important;
    font-weight: 500;
}
