@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --mainColor : #f6c6c6;
    --fontColor : #29445c;
    --bgColor : #436484;
    --HeaderColor : #232c3b;
    --HeaderText : #DDD8FF;
    --whiteColor : #ffffff;
    --textColor  : #20108F;
    --text2Color : #0D0066;
}
body{
    font-family: "Dosis", sans-serif !important;
    font-optical-sizing: auto;
}
/* body[dir="rtl"] {
    direction: rtl;
}

body[dir="ltr"] {
    direction: ltr;
} */
.dirLtR {
    direction: ltr !important;
}
.dirRtL {
    direction: rtl !important;
}

.AllParent {
    overflow: hidden;
    padding-top: 90px !important;
}
.sectionHeader{
    width: 100%;
    height: 120px;
    /* background-color: #436484; */
    margin: 15px auto;
    padding: 15px !important;
    display: flex;
    align-items: center !important;
    justify-content : center ;
}
.sectionTitle{
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--HeaderColor);
    text-transform: capitalize;
}
.headerSpan{
    width: 200px ;
    height: 3px;
    margin: 0 30px;
    background-color: var(--HeaderColor);
}
.containerUser{
    width: 90%;
    margin: 0 auto;
}


/* Responsive CSS Style   */
@media screen and (max-width: 768px) {
    .sectionHeader{
        justify-content: space-evenly !important;
    }
    .sectionTitle{
        width: 600px !important;
        font-size: 2.2rem;
    }
    .headerSpan{
        width: 100px;
    }
}